.dark-primary-color    { background: #616161; }
.default-primary-color { background: #9E9E9E; }
.light-primary-color   { background: #F5F5F5; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html{
    background-color: #9e9e9e;
    font-size:16px;
    height:100%;
}
.header{
    background:#616161;
    height:10%;
}
.header a{
    text-decoration: none;
    color:black;
    font-family:'Courier Prime', monospace;
    font-size:18px;
    display:inline-block;
    padding:10px;
}
.header a:hover{
    color:#03A9F4;
    transition:ease, 0.5s;
}
.header-float-right{
    float:right;
}
.search-bar{
    text-align:center;
}
.search-bar input .search-bar{
    height: 70px;
    width:350px;
    font-size:relative;
}
input[type="text"]{
    font-size:150%;
}
.header-center{
    text-align:center;
}
.sidenavigation{
    overflow:auto;
    width:200px;
    position:fixed;
    z-index:1;
    top:6%;
    background-color:#616161;
    overflow-x:hidden;
    font-family:'Courier Prime', monospace;
}
.drop-btn, .drop-content a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-family: 'Courier Prime', monospace;
    padding:15px;
}
.drop-content{
    display:none;
    padding-left:20px;
}
.drop-btn:hover{
    color:#03A9F4;
    transition:ease,0.5s;
}

/*
    font-family: 'Courier Prime', monospace;

    font-family: 'Oswald', sans-serif;

    font-family: 'Secular One', sans-serif;
*/
